body {
	font-family: 'Helvetica Neue', sans-serif;
	padding-bottom: 500px;
}

header, section {
	text-align: center;
	padding: 20px;
}

/* Todo app */
.complete {
	
}

/* Boxes */
.box-small {
	width: 300px;
	height: 300px;
}

.box-blue {
	background: #3498db;
}

.box-center {
	margin:0px auto;
}

.box-red {
	background: #c0392b;
}

.box-gray {
	background: linear-gradient(to top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
}

.box-inline {
	display: inline-block;
}

.box-round {
	border-radius: 10px;
}

.box-shadow {
	box-shadow: 5px 5px 5px lightgray;
}

/* Buttons */
.btn {
	border: none;
	font-size: 32px;
	padding: 0.3em;
	border-radius: 0.3em;
	cursor: pointer;
	outline: 0;
}

.btn-yellow {
	background: #f1c40f;
}

.btn-yellow:hover {
	background: #f39c12;
}

.btn-red {
	background: #dc2000;
	color: white;
}

.btn-red:hover {
	background: darkred;
}

.btn:active {
	position: relative;
	top: 2px;
}

.btn-transition {
	transition: background 1s;
}

/* Navbar Animations */
@-webkit-keyframes jitter {
	0% {
		top: -2px;
		left: -2px;
	}

	50% {
		top: 2px;
		left: 2px;
	}

	100% {
		top: 0px;
		left: 0px;
	}
}

@-moz-keyframes jitter {
	0% {
		top: -2px;
		left: -2px;
	}

	50% {
		top: 2px;
		left: 2px;
	}

	100% {
		top: 0px;
		left: 0px;
	}
}

@keyframes jitter {
	0% {
		top: -2px;
		left: -2px;
	}

	50% {
		top: 2px;
		left: 2px;
	}

	100% {
		top: 0px;
		left: 0px;
	}
}

@-webkit-keyframes flashing {
	from {
		background: #f1c40f;
	}

	to {
		background: none;
	}
}

@-moz-keyframes flashing {
	from {
		background: #f1c40f;
	}

	to {
		background: none;
	}
}

@keyframes flashing {
	from {
		background: #f1c40f;
	}

	to {
		background: none;
	}
}

/* Navigation */
h1.flashing {
	display: inline-block;
	border-radius: 5px;
	padding: .2em;
	font-size: 32px;
	-webkit-animation: flashing 150ms infinite;
	-moz-animation: flashing 150ms infinite;
	animation: flashing 150ms infinite;
}

nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

nav ul li {
	display: inline-block;
	padding: .5em;
	font-size: 20px;
	border-radius: 10px;
	cursor: pointer;
	margin: 0px 1em;
	color: lightgray;
	position: relative;
}


nav ul li:hover {
	color: darkgray;
	-webkit-animation: jitter 150ms infinite;
	-moz-animation: jitter 150ms infinite;
	animation: jitter 150ms infinite;
}

nav ul li.selected {
	background: #3498db;
	color: white;
}

/* Button Jitter */
.btn-jitter {
	position: relative;
	-webkit-animation: jitter 150ms infinite;
	-moz-animation: jitter 150ms infinite;
	animation: jitter 150ms infinite;
}

/* Code */
pre.code {
	text-align: left;
	max-width: 395px;
	display: block;
	margin: 0px auto;
	padding: 10px;
	border: 1px solid lightgray;
	border-radius: 5px;
}